---
layout: default
title: sobre
permalink: /about/
---

<ul class="breadcrumb">
  <li><a href="/">home</a></li>
  <li>/</li>
  <li>sobre</li>
</ul>
<div class="content about">
  <h1 class="title">Sobre o <img src="/images/logo-gray.png"></h1>
  <p class="subtitle"><blockquote>"For the person who understands code, the whole world reveals itself as a series of decisions made by planners and designers for how the rest of us should live. Not just computers, but everything from the way streets are organized in a town to the way election rules [are tilted] begin to look like what they are: sets of rules developed to promote certain outcomes."</blockquote>
      <p>Douglas Rushkoff</p>
  </p>
    <p class="author">Autor do texto | <small>21.04.14</small></p>

    <p>A discussão sobre como algumas tecnologias impactam na sociedade tem como consequências estudos teóricos, teses, artigos e outros artefatos importantes, mas a mudança em si só pode ser experimentada como realidade humana através da prática. </p>
    <p>Prática, nesse contexto, significa código.</p>

    <p>Neste contexto, o W3C Brasil vai além da evangelização por entender que a prática é um instrumento poderoso no fomento do desenvolvimento da web aberta para todos. </p>

    <p>A experiência como comprovação de que a realidade não se restringe ao ambiente virtual pode mostrar a integração da tecnologia com a vida real dos usuários. O objetivo do LabWeb é agregar e promover a aceleração e o fomento de iniciativas que utilizem os padrões desenvolvidos e recomendados pelo consórcio para situações tangíveis, de valor econômico, social e cultural.</p>

    <p>O LabWeb deve servir como plataforma virtual para a incubação, impulsionando  iniciativas que sejam relevantes na missão de elevar a Web ao seu potencial máximo de utilização, entendendo a Open Web Platform como o amálgama para a ecologia dos Dados Abertos, Acessibilidade e da própria Web aberta. </p>
  </p>

<p> No ambiente do LabWeb você pode contribuir participando ativamente. Aqui você pode reportar bugs, issues, sugerir melhorias ou até mesmo colocar a sua experiência pra acontecer conosco!</p>

  <div class="carousel">
    <button class="button prev" data-navigation="prev"></button>
    <button class="button next" data-navigation="next"></button>
    <ul>
      <li>
        <img src="/images/bg-highlight.png">
      </li>
      <li>
        <img src="/images/bg-highlight.png">
      </li>
      <li>
        <img src="/images/bg-highlight.png">
      </li>
      <li>
        <img src="/images/bg-highlight.png">
      </li>
      <li>
        <img src="/images/bg-highlight.png">
      </li>
      <li>
        <img src="/images/bg-highlight.png">
      </li>
    </ul>
  </div>
</div>
{% include sharing_buttons.html %}
{% include see_also.html %}
