<footer class="footer">
  <div class="container">
    <div class="institutional">
      <p class="title">institucional</p>
      <img src="/images/logo-footer.png" alt="Labweb" class="footer-logo">
      <ul class="social">
        <li><a href="https://plus.google.com"><img src="/images/social-icons/social-google.png" alt="Google Plus"></a></li>
        <li><a href="https://twitter.com/"><img src="/images/social-icons/social-twitter.png" alt="Twitter"></a></li>
        <li><a href="https://www.facebook.com/"><img src="/images/social-icons/social-facebook.png" alt="Facebook"></a></li>
        <li><a href="mailto:contato@labweb.com"><img src="/images/social-icons/social-mail.png" alt="Mail"></a></li>
      </ul>
      <div class="area-links">
        <ul class="links">
          <li><a href="/about">sobre</a></li>
          <li><a href="/about">equipe</a></li>
          <li><a href="/projects">projetos</a></li>
          <li><a href="/about">contato</a></li>
        </ul>
        <ul class="links">
          <li><a href="/contribute">colabore</a></li>
          <li><a href="/about">dados</a></li>
          <li><a href="/about">acessibilidade</a></li>
          <li><a href="/about">open web</a></li>
        </ul>
      </div>
    </div>
    <div class="organization">
      <p class="title">organização</p>
        <a href="http://www.nic.br/"><img src="/images/organization/nicbr.png" alt="nic br" class="logo-small"></a>
        <a href="http://www.cgi.br/"><img src="/images/organization/cgibr.png" alt="cgi br" class="logo-small"></a>
        <a href="http://www.w3c.br/"><img src="/images/organization/w3cbr.png" alt="w3c br" class="logo"></a>
    </div>
  </div>
  <div class="footer-info">
    <img src="/images/labweb-white.png" alt="LabWeb">
    <img src="/images/cardume.png" alt="Cardume" class="cardume">
    <p>Design:</p>
  </div>

  {% include sharing_buttons_config.html %}

  <script src="/js/vendor/jquery.dropdown.js"></script>
  <script src="/js/listing-mode.js"></script>
  <script src="/js/tooltip.js"></script>
  <script src="/js/pagination.js"></script>
</footer>
