<header class="header">
  <div class="container">
    <a href="/" class="link-logo">
      <img src="/images/logo.png" alt="LabWeb" class="logo">
    </a>
    <nav>
      <ul role="navigation" class="navigation-desktop">
        <li><a href="/projects">projetos</a></li>
        <li><a href="/about">sobre</a></li>
        <li><a href="/contribute">colabore</a></li>
        <li>
          <a href="http://www.w3c.br/" target="_blank">
            <img src="/images/w3c-brasil.png" alt="W3C Brasil">
          </a>
        </li>
      </ul>

      <button class="open-menu" data-dropdown="#dropdown"></button>

      <div id="dropdown" class="dropdown dropdown-tip dropdown-anchor-right">
        <ul class="navigation-mobile dropdown-menu">
          <li><a href="/projects">projetos</a></li>
          <li><a href="/about">sobre</a></li>
          <li><a href="/contribute">colabore</a></li>
          <li><a href="http://www.w3c.br/" target="_blank">W3C Brasil</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
