<div class="project {% if modulus == "0" %}omega{% endif %}">
  <img src="/images/project-img-thumb.png" class="project-image">
  <div class="project-description">
    <h2>{{ include.post.title }}</h2>
    <p>{{ include.post.description | markdownify }} <a href="{{include.post.url | prepend: site.baseurl}}">[...]</a></p>
  </div>

  <div class="project-info">
    <div class="project-type">
      <img src="{% category_icon include.post.category, thumb_ %}">
      <p>{{ include.post.category }}</p>
    </div>
    <div class="project-icons">
      <ul>
        <li class="code tooltip" title="JSON, HTML, CSS, JavaScript"></li>
        <li class="author tooltip" title="Vinícius Palma&lt;br&gt;Vinícius Palma&lt;br&gt;Vinícius Palma&lt;br&gt;"></li>
        <li class="github tooltip" title="&lt;a href=&quot;http://github.com/Codeminer42&quot; target=&quot;_blank&quot; &gt;Acesse o GitHub"></li>
      </ul>
    </div>
  </div>
</div>

