<div class="project">
  <img src="/images/project-img-thumb.png" class="project-image">
    <div class="project-description">
      <h2>{{ include.project.title }}</h2>
      <p>{{ include.project.description }} <a href="{{include.project.url | prepend: site.baseurl}}">[...]</a></p>
    </div>

    <div class="project-info">
    <div class="project-type">
      <img src="/images/projects/view.png">
      <p>visualização</p>
    </div>
    <div class="project-icons">

    </div>
  </div>
  </div>
</div>

