<div class="project {% if modulus == "0" %}omega{% endif %}">
  {% if include.post.thumb %}
    <img src="/images/projects/thumbs/{{ include.post.thumb }}" alt="{{ include.post.title }}" class="project-image">
  {% else %}
    <img src="/images/projects/thumbs/project-default.png" alt=" " class="project-image">
  {% endif %}
  <div class="project-description">
    <a class="title" href="{{include.post.url | prepend: site.baseurl}}">{{ include.post.title }}</a>
    {{ include.post.description | markdownify }}
  </div>

  <div class="project-info">
    <div class="project-type">
      <img src="{% category_icon include.post.categories.first, white %}" alt="{{ site.data.categories[include.post.categories.first] }}">
      <p>{{ site.data.categories[include.post.categories.first] }}</p>
    </div>
    <div class="project-icons">
      <ul>
        <li class="tooltip" title="{{ include.post.technologies | markdownify }}">
          <img src="/images/projects/code-icons/code.png" alt="Tecnologias">
        </li>
        <li class="tooltip" title="{{ include.post.authors_tolltip | markdownify }}">
          <img src="/images/projects/code-icons/authors.png" alt="Autores">
        </li>
        <li class="tooltip" title="<a href='{{ include.post.github }}' target=_blank>acesse o github</a>">
          <img src="/images/projects/code-icons/github.png" alt="Github">
        </li>
      </ul>
    </div>
  </div>
</div>
