.breadcrumb {
  margin: 45px 0 0 175px;
  list-style: none;

  li {
    display: inline-block;
    vertical-align: top;

    a {
      color: inherit;

      &:hover {
        font-weight: bold;
      }
    }
  }
}
