$column: 60px;
$gutter: 20px;
$grid-columns: 12;
$max-width: em(960);

// $visual_grid: true;
$visual-grid-index: front;

$bp-960: new-breakpoint(max-width 960px);
$mobile: new-breakpoint(max-width 480px);
