.listing-mode {
  @include span-columns(2);
  @include shift(2);
  @include omega;
  list-style: none;
  margin-top: 30px;
  text-align: right;

  li {
    display: inline-block;
    vertical-align: top;
    height: 22px;
    width: 22px;
    cursor: pointer;

    &.list-mode {
      background: url("/images/listing-mode/list.png");

      &.active {
        background: url("/images/listing-mode/list-active.png");
      }
    }

    &.image-mode {
      background: url("/images/listing-mode/image.png");

      &.active {
        background: url("/images/listing-mode/image-active.png");
      }
    }
  }
}
