.project {
  @include span-columns(6);
  height: 290px;
  border: 1px solid $orange;
  position: relative;
  margin-bottom: 20px;

  &:nth-child(even) {
    @include omega;
  }

  @include media($mobile) {
    @include span-columns(4 of 4);
    @include omega();
  }

  .project-description,
  .project-image {
    @include span-columns(3 of 6);
  }

  .project-description {
    @include omega;
    color: $black;

    h2 {
      @include pad(20px 0px);
      font-size: em(26px);
    }

    a {
      color: $blue;
      font-family: 'AdventProSemibold';
    }

    p {
      font-size: em(12px);
      font-family: 'LatoRegular';
      line-height: em(22px);
    }
  }

  .project-info {
    @include span-columns(6 of 6);
    height: 62px;
    border-top: 1px dotted $orange;
    color: $white;
    z-index: 2;
    position: absolute;
    bottom: 0;

    img,
    p {
      display: inline-block;
      vertical-align: middle;
      margin-left: 30px;
    }

    p {
      font-family: 'AdventProSemibold';
      line-height: 62px;
    }

    .project-type {
      @include span-columns(3 of 6);
      height: 61px;
      background: rgba(25, 93, 147, .6);
    }
  }

  .project-icons {
    @include span-columns(3 of 6);
    position: absolute;
    top:0;
    right: 0;
    height: 61px;
    background: $white;
    box-sizing: initial;
  }
}
