.content {
  &.about {
    @include span-columns(10);
    @include shift(1);
    margin-top: 100px;
    border-bottom: dashed 1px $grey;

    .title,
    .subtitle {
      color: $grey;
    }

    .title {
      font-size: 60px;
      font-family: 'AdventProLight';

      img {
        margin: 0;
        float: none;
      }
    }

    .subtitle {
      font-family: 'AdventProRegular';
      font-size: 30px;
      margin-top: em(30px);
    }

    .author {
      font-family: 'AdventProSemibold';
      font-size: 18px;
      margin: em(70px) 0;
      color: $light-blue;
      text-align: right;
    }

    p {
      font-family: 'LatoLight';
      font-size: 20px;
      line-height: em(22px);
      margin-bottom: 20px;
      color: $black;
    }

    img {
      margin-left: 20px;
      float: right;
    }
  }
}
