.project-infos {
  position: relative;
  color: $white;

  .title,
  .subtitle {
    position: absolute;
    left: 18%;
    font-weight: 300;
  }

  .title {
    top: 30%;
    font-size: 56px;
  }

  .subtitle {
    top: 45%;
    width: 70%;
    font-size: 36px;
  }

  .project-image {
    width: 100%;
    max-height: 600px;
  }

  @include media($mobile) {
    .title {
      top: 32%;
      left: 2%;
      font-size: 46px;
    }

    .subtitle {
      display: none;
    }
  }
}

.content {
  &.project-details {
    @include span-columns(10);
    @include shift(1);
    border-bottom: dashed 1px $grey;
    word-wrap: break-word;
    font-family: 'LatoLight';

    .project-data {
      display: none;
    }

    h2 {
      font-family: 'AdventProLight';
      font-size: 60px;
      font-weight: 300;
      color: $grey;
      margin: 30px 0;
    }

    p {
      margin: 15px 0;
      font-size: 20px;
      line-height: 30px;
    }

    a {
      color: $blue;
    }

    .title-authors:before {
      content: "";
      display: inline-block;
      vertical-align: sub;
      margin-right: 10px;
      height: 63px;
      width: 63px;
      background-image: url("/images/projects/info/author.png");
    }

    .project-list-info {
      @include clearfix;
      position: relative;
      margin-top: -25px;
      margin-bottom: 30px;
      padding-bottom: 30px;
      list-style: none;
      border-bottom: dashed 1px $grey;

      .info {
        @include span-columns(6 of 12);
        margin-top: 5px;
        margin-bottom: 5px;
        min-height: 65px;

        &:nth-child(even) {
          @include omega;
        }

        .type {
          @include span-columns(4 of 6);
          max-width: 75%;
          display: inline-block;
          vertical-align: super;
          text-align: left;
          font-size: 18px;
          line-height: 20px;
        }

        &:before {
          @include span-columns(1 of 6);
          content: "";
          display: inline-block;
          height: 59px;
          width: 59px;
          border-radius: 50%;
          border: solid 3px $white;
          background-repeat: no-repeat;
          float: left;
        }

        &.authors {
          margin-top: 35px;

          .type {
            @include span-columns(4 of 6);
            margin-top: 50px;

            h3 {
              font-family: 'LatoRegular';
              font-weight: 500;
              color: #323232;
            }

            p {
              font-size: 16px;
              line-height: 16px;
              margin-top: 5px;
            }
          }

          img {
            @include span-columns(2 of 6);
            border-radius: 50%;
            border: solid 3px $white;
            background-color: $black;
          }

          &:before {
            content: none;
          }
        }

        &.category:before {
          background-image: url("/images/projects/info/type.png");
        }

        &.github:before {
          background-image: url("/images/projects/info/github.png");
        }

        &.source:before {
          background-image: url("/images/projects/info/source.png");
        }

        &.status:before {
          background-image: url("/images/projects/info/status.png");
        }

        &.datas:before {
          background-image: url("/images/projects/info/data.png");
        }

        &.final-version:before {
          background-image: url("/images/projects/info/final-version.png");
        }
      }

      @include media($mobile) {
        .info {
          @include span-columns(6 of 12);

          .type {
            @include span-columns(6 of 6);
            max-width: 100%;
            margin-top: 5px;
            margin-left: 3px;
          }

          &.authors {
            margin-top: 15px;

            .type {
              @include span-columns(6 of 6);
              margin-top: 10px;
            }

            img {
              @include span-columns(3 of 6);
            }
          }
        }
      }
    }

    @include media($mobile) {
      @include span-columns(12);
      @include shift(0);

      h2 {
        font-size: 48px;
        line-height: 40px;
      }

      article {
        p {
          margin-left: 3px;
        }
      }
    }
  }
}
