<!DOCTYPE html>
<html lang="pt-br">

  {% include head.html %}

  <body>

    {% include header.html %}

    <section class="highlights">
      <div class="container">
        <div class="highlight-controls">
          <div class="highlight-arrow" data-navigation="prev">
            <img src="/images/arrow-left.png">
          </div>

          <div class="highlight-arrow" data-navigation="next">
            <img src="/images/arrow-right.png">
          </div>
        </div>

        <div class="banner">
          <ul>
            {% for post in site.posts limit: 4 %}
              <li>
                <div class="highlight-title">
                  <a href="{{ post.url }}">
                    {{ post.title }}
                    <img class="highlight-image" src="{% category_icon post.categories.first, blue %}">
                  </a>
                </div>

                <div class="highlight-description">
                  {{ post.description | markdownify }}
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </section>

    <section class="container">
      {{ content }}
    </section>

    {% include footer.html %}
  </body>
</html>
