.footer {
  border-top: 1px solid #CCC;
  margin-top: 50px;
  padding-top: 50px;

  .title {
    font-family: 'AdventProSemibold';
    border-bottom: dashed 1px #CCC;
    text-align: right;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }

  .institutional {
    @include span-columns(5);


    .social {
      li {
        @include span-columns(1 of 5);
      }
    }

    .area-links {
      border-top: dashed 1px #CCC;
      clear: both;
      margin: 30px 0;
    }

    .links {
      display: inline-block;
      vertical-align: top;
      list-style: none;
      margin: 0 5px;

      li {
        text-align: center;
        width: 130px;
        border-top: dashed 1px #CCC;
        font-size: 20px;
        color: #333;

        &:first-child {
          border: none;
        }

        a {
          color: inherit;
          display: block;
          margin: 5px 0;

          &:hover {
            color: #21A0D8;
          }
        }
      }
    }
  }

  .organization {
    @include span-columns(3);
    @include shift(4);
    text-align: center;
  }
}
