.header {
  height: 55px;
  background-color: $white;
  @include clearfix();
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:    0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow:         0px 1px 4px 0px rgba(0, 0, 0, 0.1);

  .link-logo {
    display: block;
  }

  .logo {
    position: absolute;
    color: none;
    z-index: 10;
  }

  nav {
    @include span-columns(8);
    float: right;

    .navigation-desktop {
      padding: 0;
      margin-top: 20px;

      li {
        @include span-columns(2 of 8);
        border-right: dotted 1px;
        text-align: center;
        font-family: 'LatoLight';
        font-size: 16px;
        margin-right: 0;

        &.w3c {
          height: 20px;
          background: url("/images/w3c-brasil.png") no-repeat 35px -1px;
        }

        a {
          color: $orange;
          display: block;
          height: 20px;
        }
      }

      li:last-child {
        border: none;
      }
    }

    .open-menu {
      display: none;
    }
  }

  @include media($mobile) {
    nav {
      height: 55px;

      .navigation-desktop {
        display: none;
      }

      .open-menu {
        display: block;
        float: right;
        background: $orange;
        width: 40px;
        height: 100%;
        border: none;

        &:before {
          content: '';
          display: inline-block;
          background: url("/images/menu-mobile.png") 3px 12px no-repeat;
          height: 40px;
          width: 55px;
        }
      }
    }
  }
}
