.header {
  height: 55px;
  background-color: #FFF;
  @include clearfix();

  .logo {
    position: absolute;
    color: none;
  }

  nav {
    @include span-columns(8);
    float: right;

    ul {
      padding: 0;
      margin-top: 20px;

      li {
        @include span-columns(2 of 8);
        border-right: dotted 1px;
        text-align: center;
        font-family: 'LatoLight';
        font-size: 16px;

        a {
          color: #FF6600;
        }
      }

      li:last-child {
        border: none;
      }
    }
  }
}
